@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu Condensed', sans-serif;
}

body {
	background-color: #c5cae9;
}

.main-container {
	width: 75%;
	margin: 5rem auto;
	padding: 3rem 6rem;
	border-radius: 10px;
	background-color: #fff;
	display: grid;
	grid-gap: 2rem;
	grid-template-rows: auto auto auto;
	grid-template-columns: 2fr 1fr;
	box-shadow: 1rem 1rem #ede7f6;
}

header {
	grid-row: 1;
	grid-column: 1/-1;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 2fr 1fr;
	align-items: center;
}

h1 {
	color: #304ffe;
	grid-column: 1;
	font-size: 200%;
	text-transform: uppercase;
}

nav {
	grid-column: 2;
}

.list-web-pages {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.list-web-pages li {
	display: inline-block;		
}

.list-web-pages li a {
	text-decoration: none;
	color: #546e7a;
	font-size: 130%;
}

.list-web-pages li a:hover {
	text-decoration: underline;
	color: #455a64;
}

hr {
	grid-column: 1/-1;
	margin: 2rem 0;
	color: #efebe9;
	width: 100%;
}

main {
	grid-row: 2;
	grid-column: 1;
	text-align: justify;
	margin-bottom: 2rem;
}

main > h2 {
	font-size: 200%;
}

main > img {
	width: 100%;
	margin-bottom: 2rem;
	border-radius: 15px;
}

aside {
	grid-row: 2;
	grid-column: 2;
	text-align: justify;
}

aside > img {
	border-radius: 15px;
}

footer {
	grid-row: 3;
	grid-column: 1/-1;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.website-credits {
	grid-column: 1;	
	color: #546e7a;
}

.contact-means {
	grid-column: 2;
	display: flex;
	justify-content: space-around;
}

.contact {
	display: inline-block;
}

@media screen and (max-width: 812px) {
	.main-container {
		width: 100%;
		margin: 0;
		padding: 0 2rem;
		display: flex;
		flex-direction: column;
	}
	
	header {
		display: flex;
		margin: 2rem 0;
		flex-direction: column;
	}

	.list-web-pages li {
		margin: 0.5rem 0.9rem;
	}

	h2, h3 {
		text-align: center;
	}
	
	aside {
		margin-top: 4rem;
	}

	aside img {
		width: 100%;
	}

	footer {
		display: flex;
		flex-direction: column;
	}

	.website-credits {
		text-align: center;
	}
	
	.contact-means {
		margin: 2rem 4rem;
	}

	.contact {
		justify-content: space-around;
	}
}
